# Ne pas envoyer les données locales de MinIO ou Trino
minio-data/
trino-catalog/
.data/

# Ne pas envoyer les variables d'environnement contenant des mots de passe
.env
venv/
venv1/

# Ignorer les logs
*.log